{{!
Це леяут по замовчюванню, котрий вже містить базову структуру HTML документа
І котрий обгортає код container файлів для будь-яких ендпоїнтів
}}

<html>

   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta charset='utf-8' />
      <title>
         {{page.title}}
      </title>
      <link href='css/normalize.css' rel='stylesheet' />
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link
         href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
         rel="stylesheet">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link
         href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap"
         rel="stylesheet">
      <link
         rel="stylesheet"
         href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
      <link
         href='dist/css/layout/default/style.css'
         rel='stylesheet' />
      <link
         href='dist/css/container/{{style}}/style.css'
         rel='stylesheet' />

   </head>

   <body>
      {{! ↓ ця кострукція показує куди шаблонізатору треба вставляти код з
      container файлу }}
      {{{body}}}

      <script src="https://kit.fontawesome.com/f7082d49ca.js"
         crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
      <script src="/js/apple.js"></script>
   </body>

</html>